@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    @apply w-full;
}

@layer utilities {
    /* Responsive utility class */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Base utility class */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.spin {
    animation: 1.5s ease-in-out infinite spinner;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1f1f1f;
    border-radius: 50%;
    content: '';
    height: 40px;
    margin: 0 auto;
    width: 40px;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MODAL */
.dialog-container {
    @apply absolute flex flex-col justify-center inset-0 z-10 overflow-y-auto bg-black bg-opacity-60 backdrop-blur-md;
}

.dialog-content {
    @apply p-6 backdrop-blur-sm border-2 border-gray-600 inline-block w-full max-w-md my-8 overflow-hidden text-left align-middle transition-all transform shadow-xl rounded-md;
}

.dialog-head_text {
    @apply text-lg leading-[24px] font-semibold mt-4;
}

.dialog-input_container {
    @apply px-5 py-3 mt-3 text-gray-100 flex items-center gap-2 border border-gray-300 rounded-md;
}

.dialog-input {
    @apply flex-1 pl-1 bg-transparent border-none text-gray-500 text-base focus:outline-none;
}

.dialog-btn {
    @apply flex max-h-[100px] flex-row px-5 gap-3 py-3 border-2 rounded-md border-gray-300 mt-3 cursor-pointer hover:bg-slate-900 duration-500;
}

.searchModal {
    @apply overflow-scroll min-h-[100px] max-h-[200px] py-3 mx-auto;
}

.card {
    @apply border-2 border-slate-500 backdrop-blur-sm p-3 sm:p-5 flex flex-col justify-center rounded-md max-w-[400px] min-h-[125px] h-fit cursor-pointer;
}

.button {
    @apply border-slate-400 border-2 rounded-md px-5 py-2;
}

h1 {
    @apply text-2xl font-bold tracking-wide text-slate-300;
}

h2 {
    @apply text-sm font-semibold font-sans tracking-wider text-slate-500;
}

.data-tiles {
    @apply break-words h-fit flex flex-col justify-between gap-1 font-medium text-lg border-2 border-slate-500 w-full sm:w-fit p-3 rounded-md bg-gradient-to-r from-slate-900;
}
.data-tiles > h1 {
    @apply text-base text-slate-400 font-light;
}

.json-tiles{
    @apply break-words h-fit flex flex-col justify-start gap-1 font-medium text-lg border-2 border-slate-500 w-full sm:w-fit p-3 rounded-md bg-gradient-to-r from-slate-900;
}

.json-tiles > h1 {
    @apply text-base text-slate-400 font-light;
}

.update-tiles {
    @apply break-words h-fit flex flex-col justify-between gap-1 font-medium text-lg border-2 border-slate-500 w-full p-3 rounded-md bg-gradient-to-r from-slate-900;
}
.update-tiles > h1 {
    @apply text-base text-slate-400 font-light;
}

.copyToClipboard {
    @apply w-full sm:w-fit break-words cursor-pointer hover:bg-slate-700 duration-500;
}

nav {
    @apply w-full p-5 text-inherit flex justify-between items-center;
}

.hero-section {
    @apply flex flex-col py-[4rem] sm:py-[6rem] items-center justify-center w-full text-white relative;
}

.file-upload {
    @apply w-full max-w-[400px] font-sans;
}

.input-container {
    @apply flex gap-1 justify-between w-full max-w-[400px] border-2 border-gray-700 rounded-md;
}

.form-input {
    @apply text-sm bg-transparent tracking-wider w-full text-white grow focus:outline-none px-4;
}
